@charset "utf-8";

/* CSS Document */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*,
body {
	padding: 0px;
	margin: 0px;
	color: #fff;
	;
	font-family: "微软雅黑";
}

body {
	background: url(../images/bg.png);
	color: #fff;
	font-size: .1rem;
	overflow: hidden;
}

li {
	list-style-type: none;
}

table {}

i {
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

img {
	border: none;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #399bff;
}

a.active,
a:focus {
	outline: none !important;
	text-decoration: none;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0
}

a:hover {
	color: #06c;
	text-decoration: none !important
}

i,
em {
	font-style: normal;
}

.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}

.clearfix:after {
	clear: both
}

.pulll_left {
	float: left;
}

.pulll_right {
	float: right;
}

/*谷哥滚动条样式*/

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	position: absolute;
}

::-webkit-scrollbar-thumb {
	background-color: #5bc0de
}

::-webkit-scrollbar-track {
	background-color: #ddd
}

/***/

.loading {
	position: fixed;
	left: 0;
	top: 0;
	font-size: .3rem;
	z-index: 100000000;
	width: 100%;
	height: 100%;
	background: #1a1a1c;
	text-align: center;
}

.loadbox {
	position: absolute;
	width: 160px;
	height: 150px;
	color: #324e93;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -75px;
}

.loadbox img {
	margin: 10px auto;
	display: block;
	width: 40px;
}


.head {
	height: 1.05rem;
	background: url(../images/head_bg.png) no-repeat center center;
	background-size: 100% 100%;
	position: relative
}

.head h1 {
	color: #bde4ff;
	text-align: center;
	font-size: .4rem;
	line-height: 0.9rem;
	letter-spacing: .06rem;
}

.head h1 img {
	width: 1.5rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: .2rem
}

.headbox {
	background: url(../images/head_box.png) no-repeat top center;
	margin-top: -.0rem;
}

html,
body {
	height: 100%;
}

.mainbox {
	padding: 0 0rem 0rem 0rem;
	height: calc(100% - 0.05rem);
}

.mainbox>ul {
	margin-left: .1rem;
	margin-right: .1rem;
	height: 100%;
}

.mainbox>ul>li {
	float: left;
	padding: 0 .10rem;
	height: 100%;
}

.mainbox>ul>li {
	width: 26%
}

.mainbox>ul>li:nth-child(2) {
	width: 48%
}

.boxall {
	border: 1px solid #023069;
	background: rgba(36, 7, 79, .01);
	padding: .13rem;
	position: relative;
	margin-bottom: .2rem;
	z-index: 10;
}

.boxall:before,
.boxall:after {
	position: absolute;
	width: .15rem;
	height: .15rem;
	content: "";
	border-top: 2px solid #00fff0;
	top: -2px;
}

.boxall:before,
.boxfoot:before {
	border-left: 2px solid #00fff0;
	left: -2px;
}

.boxall:after,
.boxfoot:after {
	border-right: 2px solid #00fff0;
	right: -2px;
}

.boxfoot {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

.boxfoot:before,
.boxfoot:after {
	position: absolute;
	width: .15rem;
	height: .15rem;
	content: "";
	border-bottom: 2px solid #00fff0;
	bottom: -2px;
}

.tit01 {
	background: url(../images/bg_line.png) no-repeat left bottom;
	color: #fff;
	font-size: .17rem;
	padding-left: 30px;
	padding-bottom: 5px;
	line-height: 30px;
	position: relative;
}

.tit01 span {
	position: absolute;
	right: 5px;
	color: #5cc5dd;
	font-size: 14px;
}

.tit02 {
	color: #fff;
	position: absolute;
	font-size: .45rem;
	padding: .02rem 0;
	text-align: center;
	width: 4.4rem;
	left: 45%;
	margin-left: -1.2rem;
	margin-top: 0.05rem;
	letter-spacing: .05rem;
}

.tit03 {
	text-align: center;
	color: #fff;
	font-size: .25rem;
	line-height: .5rem;
	letter-spacing: .05rem;
}

.tit04 {
	text-align: center;
	background: #0c2854;
	color: #fff;
	font-size: .25rem;
	line-height: .6rem;
	letter-spacing: .05rem;
}

.wrap {
	height: 2.54rem;
	overflow: hidden;
}

.wrap li {
	line-height: .42rem;
	height: .42rem;
	font-size: .18rem;
	text-indent: .24rem;
	margin-bottom: .1rem;
}

.wrap li p {
	border: 1px solid rgba(25, 186, 139, .17);
	color: rgba(255, 255, 255, .6);
}

.boxnav {}

.nav01 {
	height: calc(100% - .3rem);
	padding-top: .1rem;
}

.nav02 {
	height: calc(100%);
	display: flex;
	align-items: center;
}

.nav03 {
	height: calc(100% - 0rem);
	padding-top: .2rem;
}

.nav04 {
	height: calc(100% - .7rem);
}

.nav02>div {
	width: 100%;
}

.nav02 p {
	text-align: center;
	color: #fff;
}

.nav02 .p1 {
	width: 25%;
	float: left;
	font-size: .2rem;
	letter-spacing: .02rem;
}

.p2 {
	width: 50%;
	float: left;
	font-size: .2rem;
	letter-spacing: .05rem;
	padding: .1rem 0;
	text-align: center;
}

.p3 {
	width: 25%;
	float: left;
}

.p3 span {
	text-align: center;
	color: #fff;
	display: inline-block;
	width: 45%;
	font-size: .15rem;
}

.dot {
	width: .2rem;
	height: .2rem;
	display: inline-block;
	border-radius: 1rem;
	position: relative;
	top: .04rem;
	margin-right: .1rem;
}

.dot1 {
	background: #ff0006
}

.dot2 {
	background: #00ea37
}

.text-green {
	color: #00ea37
}

.text-red {
	color: #ff0006;
}

.listhead {
	height: .55rem;
	display: flex;
	justify-content: space-between;
}

.listnav {
	height: calc(100% - .55rem);
}

.listnav ul li {
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.listhead span,
.listnav li span {
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	height: .55rem;
}

.listhead1 span,
.listnav1 li span {
	border: 1px solid #3486da;
}

.listnav ul li span {
	font-size: .18rem;
}

.listnav2 ul li:nth-child(odd) {
	background: #0c2854;
}

.listhead1 span {
	background: #0c2854;
	font-size: .2rem;
	color: #3486da;
	font-weight: bold;
}

.listhead2 span {
	font-size: .2rem;
	color: #3486da;
	border-bottom: 1px solid #0c2854;
	font-weight: bold;
}



/*Plugin CSS*/
.str_wrap {
	overflow: hidden;
	width: 100%;
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	white-space: nowrap;
}


.str_move {
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
}

.str_move_clone {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 100%;
	top: 0;
}

.str_vertical .str_move_clone {
	left: 0;
	top: 100%;
}

.str_down .str_move_clone {
	left: 0;
	bottom: 100%;
}

.str_vertical .str_move,
.str_down .str_move {
	white-space: normal;
	width: 100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move {
	cursor: inherit;
}

.str_wrap img {
	max-width: none !important;
}

.payment-time {
	padding-right: 10px;
}

.basics_list {}

.basics_list ul {
	margin-top: 15px;
}

.basics_list ul li {
	height: 42px;
	line-height: 42px;
	position: relative;
}

.basics_list ul li p {
	float: left;
	width: 55px;
	height: 42px;
	text-align: center;
}

.basics_list ul li p img {
	margin-bottom: 20px;
}

.basics_list ul li h4 {
	font-size: 22px;
	color: #67e2f9;
	float: left;
	font-weight: normal;
}

.basics_list ul li h4 span {
	color: #a7b0f8;
	display: block;
	width: 160px;
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
}

.head_box {
	text-align: center;
}

.head_box .left_con {
	width: 24%;
	color: #fff;
}

.head_box .left_con p {
	color: #7de3fc;
	font-size: 16px;
	line-height: 30px;
}

.head_box .left_con h4 {
	color: #fff;
	font-size: 18px;
	line-height: 35px;
	font-weight: normal;
}

.head_box .center_con {
	width: 52%;
}

.head_box .right_con {
	width: 24%;
}

.head_box .right_con p {
	color: #7de3fc;
	font-size: 16px;
	line-height: 30px;
}

.head_box .right_con h4 {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	line-height: 35px;
}

.center_con {
	padding-top: 100px;
}

.center_con ul li {
	float: left;
	width: 25%;
	line-height: 45px;
	font-size: 16px;
}

.center_con ul li h4 {
	color: #7de3fc;
}

.center_con ul li p {
	color: #ffff57;
}

.center_con ul li h2 {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	line-height: 45px;
	margin-top: -10px;
}

.school_bg {
	background: url(../images/school_bg.png) no-repeat top center;
	background-size: 100% 100%;
	margin-top: -.0rem;
}

.form-horizontal,
	{
	background: none;
}

.modal-content {
	box-shadow: inset 3px 3px 8px #00c6ff;
	background: rgba(20, 30, 120, 0.85)
}

.close {
	color: #fff !important;
	font-size: 28px;
	text-shadow: none;
	z-index: 999;
	opacity: 1;
}

.modal-title {
	color: #fff;
}

.modal-header {
	border-bottom: 1px solid #4f248d;
}

.modal-footer {
	border-top: 1px solid #4f248d;
}

.modal-header .close {
	margin-top: -16px;
}

.modal-content {
	box-shadow: inset 3px 3px 6px #9567da;
	background: rgba(36, 7, 79, 0.85);
}

.vedio_box {
	margin: 0px auto 0;
}

.vedio_box div.vedio {
	width: 100%;
	height: 100%;
}

.vedio_box div.vedio img {
	width: 100%;
	height: 97%;
	padding: 3%;
}

.echart_list {
	margin-top: 0px;
}

.echart_list ul li {
	width: 50%;
	float: left;
	height: 110px;
	padding: 5px 10px;
	position: relative;
}

.echart_list ul li div {
	width: 120px;
	height: 120px;
}

.echart_list ul li h4 {
	text-align: right;
	position: absolute;
	top: 20px;
	right: 15px;
}

.echart_list ul li h4 p {
	font-size: 16px;
	line-height: 45px;
	color: #ccc;
	text-align: right
}

.echart_list ul li h4 em {
	font-size: 20px;
	line-height: 30px;
	font-style: normal;
	color: #00fff0;
	text-align: right
}

.date_list {
	width: 70%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.date_list ol li {}

.date_list ol li p {
	color: #fff;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
}

.date_list ol li p span {
	float: right;
	width: 100px;
	color: #fff;
	display: inline-block;
}

.date_list .date_list ul {}

.date_list ul li p {
	color: #fff;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
}

.date_list ul li p a {
	float: right;
	width: 100px;
	color: #fff;
	display: inline-block;
}

.height_list {
	width: 30%;
	float: left;
	margin-top: 10px;
	height: 200px;
}

.height_list h4 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.height_list ul {
	height: 100%;
	height: 172px;
	background: url(../images/height_line.png) no-repeat;
	background-position: top center;
	background-size: 100px 168px;
	position: relative;
}

.height_list ul li {
	color: #2761cd;
	height: 25%;
	padding-left: 20px;
}

.height_list ul p {
	height: 15px;
	line-height: 15px;
	width: 160px;
	background: url(../images/zhizhen.png) no-repeat left center;
	position: absolute;
	left: 80px;
	padding-left: 24px;
	margin-top: 18px;
	color: #18d6ea;
	font-size: 14px;
}


.jk_title {
	background: url(../images/title01.png) no-repeat left center;
	font-size: 16px;
	color: #00ded5;
	padding-left: 20px;
	margin-top: 10px;
	line-height: 30px;
	height: 30px;
}

.link_list {}

.link_list ul {
	overflow: hidden;
}

.link_list ul li {
	float: left;
	width: 50%;
	line-height: 40px;
	font-size: 16px;
	height: 40px;
	color: #00ded5;
}

.link_list ul li span {
	display: inline-block;
	width: 120px;
	height: 40px;
	color: #fff;
	text-align: right;
}

.dianchi_list {}

.dianchi_list ol {
	width: 180px;
	padding-top: 40px;
	float: left;
	position: relative;
}

.dianchi_list ol span {
	display: block;
	width: 8px;
	height: 20px;
	background: #00ffff;
	position: absolute;
	right: -8px;
	top: 55px;
}

.dianchi_list ol li {
	height: 50px;
	border: 1px solid #00ffff;
	box-shadow: 0 0 10px #6FF;
}

.dianchi_list ol li p {
	height: 50px;
	display: block;
	background: rgba(0, 255, 255, 0.4);
}

.dianchi_list ul {
	float: left;
	margin-left: 55px;
}

.dianchi_list ul li {
	line-height: 40px;
	font-size: 16px;
	height: 40px;
	color: #00ded5;
}

.dianchi_list ul li span {
	display: inline-block;
	width: 120px;
	height: 40px;
	color: #fff;
	text-align: right;
}

.text-green {
	color: #00ffcc !important;
}

.text-yellow {
	color: #ffcc00 !important;
}

.text-red {
	color: #f00 !important;
}
